.topbarbackbutton {
    -fx-background-image: url('../images/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-width: 32px;
    -fx-height: 32px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.topbarbackbutton:hover {
    -fx-background-image: url('../images/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-width: 32px;
    -fx-height: 32px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
}